.img{
    position: absolute;
    top: 220px;
    left: 300px;
    width: 400px;
    height: 400px;
    object-fit: contain;
    border: 5px red solid;
    border-radius: 15px;
    margin: 30px 20px 10px 10px;
    box-shadow: inset 0 0 1em red,
    0 0 1em red;
}
.versus{
    position: absolute;
    top: 350px;
    left: 850px;
    width: 200px;
    border: none;
}
.img2{
    position: absolute;
    top: 220px;
    right: 300px;
    width: 400px;
    object-fit: contain;
    border: 5px green solid;
    border-radius: 15px;
    margin: 30px 20px 10px 10px;
    box-shadow: inset 0 0 1em green,
    0 0 1em green;
}
.h1{
    font-size: 50px;
    text-align: center;
}
.figcaption{
    
    display:block;
}